.bg-myNavBackground{
    color: darkmagenta;
    background-color:rgb(129, 161, 221);
  
    font-size: large;
    font-weight: 600;
    
    
}
#layoutBody{
    color: darkmagenta;
}
.navbar{
    min-height: 80px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.container {
    margin-top: 0px;
}