.footer-bottom{
    background-color:rgb(227, 231, 223);
    margin-top: 40px;
    padding-top: 30px;
}
.footer-bottom-text {
    background-color: lightgoldenrodyellow;
  
}
.footer {
    margin-top: 0px;
}
.ContactDetails{
    text-align: left;
}
li{
    margin-left: 20px;
}