.jumbotron-bgimage{
  position: fixed;
  overflow: hidden;
  background-size: cover;
  right: 0;

  background-image: url("../assets/Jumbotronpic.png") ;

   padding-top :33px; 
   padding-bottom: px;
   padding-left: 0;
   padding-right: 0;
   width: 100%;
   height: 200px; 
   
   margin-left:auto;
   margin-right:auto;
   margin-top: 0;
   margin-bottom: 10px;

} 