.Container {
  max-width: 100%;
}
.Row{
  display: flex;
  justify-content: space-between;

}
.Col {
  flex: 1 1;
}

.jumbotron-bgimage{
  position: top; 
  background-size: cover;
  right: 0;
 

  background-image: url("../assets/Jumbotronpic.png") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   padding-top :33px; 
   padding-bottom: 10px;
   padding-left: -10;
   padding-right: -10;
   max-width: 100%;
  
   height: 200px; 
   
  
   margin-top: 0;
   margin-bottom: 10px;

} 