.alltestimonials {
  
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
}

.song {
  width: auto ;
  display: flex;
  flex-direction: column;
  align-items: left;

}
.Button {
  width: 40px;
}