.testimonials {
  
  margin-top: 50px;
  
}
.custom-class {
  background-color: hsl(240, 7%, 86%);
}
.song {
  width: auto ;
  display: flex;
  flex-direction: column;
  align-items: left;

}
.Button {
  width: 40px;
}